{% extends "base.html" %}

{% block content %}
  <h1>Django Chatapp</h1>
  <p class="deck">
    This uses <a href="http://channels.readthedocs.org/en/latest/">
    Django Channels</a>
  </p>
  <p>
    <a class="button button-primary" href="{% url 'new_room' %}">Create new chat room</a>
  </p>
  <!-- <p class="quiet">
    Or, you can visit <code>{{ request.scheme }}://{{ request.get_host }}/any-path-you-want</code> 
    to create a arbitrary room or join one whose name you know.
  </p> -->
{% endblock content %}